<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tomato.mapper.MemberMapper">
   
   <resultMap id="memberMap" type="MemberVO">
      <id property="id" column="id"/>
      <result property="password" column="password"/>
      <result property="delFlag" column="DEL_FLAG"/>
      <collection property="authorityList" resultMap="authMap"></collection>   
   </resultMap>
    
    <resultMap id="authMap" type="AuthorityVO">
       <result property="memberNo" column="memberNo"/>
       <result property="authority" column="authority"/>   
   </resultMap>
    
    <select id="getMember" resultMap="memberMap">
       <![CDATA[
           SELECT * FROM MEMBERS , AUTHORITIES 
      WHERE MEMBERS.NO = AUTHORITIES.MEMBER_NO AND MEMBERS.ID= #{id}
       ]]>
    </select>

    <insert id="insertMember">
        <![CDATA[
              INSERT INTO MEMBERS (NO, ID, ADDRESS_NO, PASSWORD, NAME, TEL, EMAIL, NICKNAME)
              VALUES (member_no_seq.nextval, #{id}, #{addressNo}, #{password}, #{name}, #{tel}, #{email}, #{nickname})
        ]]>
    </insert>

    <select id="idCheck" parameterType="String" resultType="Integer">
        <![CDATA[
              SELECT COUNT(*) FROM MEMBERS
              WHERE ID = #{id}
        ]]>
    </select>

    <select id="nicknameCheck" parameterType="String" resultType="Integer">
        <![CDATA[
              SELECT COUNT(*) FROM MEMBERS
              WHERE NICKNAME = #{nickname}
        ]]>
    </select>

    <select id="getMemberVO" parameterType="String" resultType="MemberVO">
        <![CDATA[
              SELECT NO, ID, ADDRESS_NO, NAME, TEL, EMAIL, NICKNAME FROM MEMBERS WHERE ID = #{memberId}
        ]]>
    </select>

    <select id="getMemberByEmailAndName" resultType="MemberVO">
        <![CDATA[
              SELECT ID, EMAIL FROM MEMBERS WHERE EMAIL = #{email} AND NAME = #{name}
        ]]>
    </select>
    
</mapper>