<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tomato.mapper.MemberMapper">
   
   <resultMap id="memberMap" type="MemberVO">
      <id property="id" column="id"/>
      <result property="password" column="password"/>
      <result property="enabled" column="enabled"/>
      <collection property="authList" resultMap="authMap"></collection>   
   </resultMap>
    
    <resultMap id="authMap" type="AuthorityVO">
       <result property="memberNo" column="memberNo"/>
       <result property="authority" column="authority"/>   
   </resultMap>
    
    <select id="getMember" resultMap="memberMap">
       <![CDATA[
           select * from members , authorities 
      where members.no = authorities.member_no and members.id= #{id}
       ]]>
    </select>

    <insert id="insertMember">
        <![CDATA[
              INSERT INTO MEMBERS (NO, ID, ADDRESS_NO, PASSWORD, NAME, TEL, EMAIL, NICKNAME)
              VALUES (member_no_seq.nextval, #{id}, #{addressNo}, #{password}, #{name}, #{tel}, #{email}, #{nickname})
        ]]>
    </insert>

    <select id="idCheck" parameterType="String" resultType="Integer">
        <![CDATA[
              SELECT COUNT(*) FROM MEMBERS
              WHERE ID = #{id}
        ]]>
    </select>

    <select id="nicknameCheck" parameterType="String" resultType="Integer">
        <![CDATA[
              SELECT COUNT(*) FROM MEMBERS
              WHERE NICKNAME = #{nickname}
        ]]>
    </select>
     
</mapper>