<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tomato.mapper.TradeMapper">

    <!-- mybatis.type-aliases-package=com.example.tomato.vo -->
    <!-- CDATA 내용에 있는 SQL 문에 세미콜론 붙이지 말것 -->

    <!-- 주소 관련 테이블이 없어서 임시적으로 주소 컬럼 데이터를 제외한 데이터를 추가 -->

    <select id="getItemList" resultType="ItemCategoryVO">
        <![CDATA[
              SELECT DISTINCT NO, NAME FROM ITEM_CATEGORY
        ]]>
    </select>

    <insert id="insertTradeBoard">
        <![CDATA[
              INSERT INTO TRADE(NO, BOARD_NO, ITEM_CATEGORY, ADDRESS_NO, STATUS_NO ,PRICE)
              VALUES (TRADE_NO_SEQ.nextval, BOARD_NO_SEQ.currval, #{itemCategory}, #{addressNo}, #{statusNo}, #{price})
        ]]>
    </insert>

    <insert id="insertTradeImage">
        <![CDATA[
              INSERT INTO IMAGE(NO, TRADE_NO, FILENAME, FILEPATH)
              VALUES (IMAGE_NO_SEQ.nextval, TRADE_NO_SEQ.currval, #{filename}, #{filepath})
        ]]>
    </insert>

    <resultMap id="TradeMap" type="TradeVO">
        <id property="no" column="TRADE_NO"/>
        <result property="itemCategory" column="ITEM_CATEGORY"/>
        <result property="addressNo" column="ADDRESS_NO"/>
        <result property="statusNo" column="STATUS_NO"/>
        <result property="price" column="PRICE"/>
        <collection property="boardVOList" resultMap="boardMap"/>
        <collection property="itemCategoryVOList" resultMap="itemCategoryMap"/>
        <collection property="addressVOList" resultMap="addressMap"/>
        <collection property="imageVOList" resultMap="imageMap"/>
    </resultMap>

    <resultMap id="boardMap" type="BoardVO">
        <id property="no" column="BOARD_NO"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="modifiedDate" column="MODIFIED_DATE"/>
        <result property="hit" column="HIT"/>
        <result property="delFlag" column="DEL_FLAG"/>
        <collection property="memberVOList" resultMap="memberMap"/>
    </resultMap>

    <resultMap id="memberMap" type="MemberVO">
        <id property="no" column="NO"/>
        <result property="no" column="NO"/>
        <result property="nickname" column="NICKNAME"/>
    </resultMap>

    <resultMap id="itemCategoryMap" type="ItemCategoryVO">
        <id property="no" column="ITEM_CATEGORY"/>
        <result property="name" column="ITEM_CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="addressMap" type="AddressVO">
        <id property="no" column="ADDRESS_NO"/>
        <result property="sidoName" column="SIDO_NAME"/>
        <result property="sigunguName" column="SIGUNGU_NAME"/>
        <result property="dongName" column="DONG_NAME"/>
    </resultMap>

    <resultMap id="imageMap" type="TestImageVO">
        <result property="filename" column="FILENAME"/>
        <result property="filepath" column="FILEPATH"/>
    </resultMap>

    <select id="getList" parameterType="PagingVO" resultMap="TradeMap">
        <![CDATA[
            SELECT *
            FROM (SELECT ROWNUM AS RNUM, R.*
                  FROM (SELECT T.NO TRADE_NO, ITEM_CATEGORY, T.ADDRESS_NO, T.BUYER_NO, STATUS_NO, PRICE,
                               B.NO BOARD_NO, B.MEMBER_NO MEMBER_NO, B.TITLE, B.CONTENT, B.CREATE_DATE, B.MODIFIED_DATE, HIT, B.DEL_FLAG,
                               M.NO, M.NICKNAME,
                               I.NAME ITEM_CATEGORY_NAME,
                               A.SIDO_NAME, A.SIGUNGU_NAME, A.DONG_NAME,
                               IMG.FILENAME, IMG.FILEPATH
                        FROM TRADE T, BOARD B, MEMBERS M, ITEM_CATEGORY I, ADDRESS A, IMAGE IMG
                        WHERE T.BOARD_NO = B.NO
                        AND B.MEMBER_NO = M.NO
                        AND T.ITEM_CATEGORY = I.NO
                        AND T.ADDRESS_NO = A.NO
                        AND T.NO = IMG.TRADE_NO
                        AND B.DEL_FLAG = 'N'
                        ORDER BY T.NO DESC) R)
            WHERE RNUM BETWEEN 1 AND 10
        ]]>
    </select>

    <select id="getBoard" resultMap="TradeMap">
        <![CDATA[
            SELECT T.NO TRADE_NO, ITEM_CATEGORY, T.ADDRESS_NO, T.BUYER_NO, STATUS_NO, PRICE,
                   B.NO BOARD_NO, B.MEMBER_NO MEMBER_NO, B.TITLE, B.CONTENT, B.CREATE_DATE, B.MODIFIED_DATE, HIT, B.DEL_FLAG,
                   M.NO, M.NICKNAME,
                   I.NAME ITEM_CATEGORY_NAME,
                   A.SIDO_NAME, A.SIGUNGU_NAME, A.DONG_NAME,
                   IMG.FILENAME, IMG.FILEPATH
            FROM TRADE T, BOARD B, MEMBERS M, ITEM_CATEGORY I, ADDRESS A, IMAGE IMG
            WHERE T.BOARD_NO = B.NO
            AND B.MEMBER_NO = M.NO
            AND T.ITEM_CATEGORY = I.NO
            AND T.ADDRESS_NO = A.NO
            AND T.NO = IMG.TRADE_NO
            AND TRADE_NO = #{no}
        ]]>
    </select>

    <update id="updateTrade">
        <![CDATA[
            UPDATE TRADE SET ITEM_CATEGORY = #{itemCategory}, ADDRESS_NO = #{addressNo},
                             STATUS_NO = #{statusNo}, PRICE = #{price}
            WHERE BOARD_NO = #{no}
        ]]>
    </update>

    <select id="getMyFavorite" resultMap="TradeMap">
        <![CDATA[
              SELECT *
              FROM (SELECT ROWNUM AS RNUM, R.*
                    FROM (SELECT T.NO TRADE_NO, ITEM_CATEGORY, T.ADDRESS_NO, T.BUYER_NO, STATUS_NO, PRICE,
                                 B.NO BOARD_NO, B.MEMBER_NO MEMBER_NO, B.TITLE, B.CONTENT, B.CREATE_DATE, B.MODIFIED_DATE, HIT, B.DEL_FLAG,
                                 M.NO, M.NICKNAME,
                                 I.NAME ITEM_CATEGORY_NAME,
                                 A.SIDO_NAME, A.SIGUNGU_NAME, A.DONG_NAME,
                                 IMG.FILENAME, IMG.FILEPATH
                          FROM TRADE T, BOARD B, MEMBERS M, ITEM_CATEGORY I, ADDRESS A, IMAGE IMG, FAVORITE F
                          WHERE T.BOARD_NO = B.NO
                          AND B.MEMBER_NO = M.NO
                          AND T.ITEM_CATEGORY = I.NO
                          AND T.ADDRESS_NO = A.NO
                          AND T.NO = IMG.TRADE_NO
                          AND F.TRADE_NO = T.NO
                          AND B.DEL_FLAG = 'N'
                          AND F.OWNER_NO = 1
                          ORDER BY T.NO DESC) R)
              WHERE RNUM BETWEEN 1 AND 10
        ]]>
    </select>

</mapper>