.searchButton{
    width: 20vh;
}
.d-flex{
    height: 8vh;
    width: 125vh;
}
.col-sm-8>.d-flex{
    padding-top: 3vh;
}
.row{
    margin-left: 1vh;
    justify-content: center;
    margin-top: 3vh;
}
.row .col-6{
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin-top: 3vh;
}
.col-1 .btn{
    width: 25vh;
    margin-top: 2.5vh;
    margin-right: 5vh;
}
.col-1 img{
    width: 5vh;
    height: 5vh;
    display: block;
    margin:auto;
    margin-top: 3.5vh;
}

