.searchButton{
    width: 80px;
}
.d-flex{
    height: 40px;
    width: 50vw;
}
.col-sm-8>.d-flex{
    padding-top: 3vh;
}
.row{
    margin-left: 1vw;
    justify-content: center;
    margin-top: 3vh;
}
.row .col-6{
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin-top: 3vh;
}
.col-1 .btn{
    width: 6vw;
    margin-top: 2.5vh;
    margin-right: 5vw;
}
.col-1 img{
    width: 5vw;
    height: 5vh;
    display: block;
    margin:auto;
    margin-top: 3.5vh;
}

