* {
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
}
.tradeCon {
  width: 1200px;
  max-width: none !important;
  margin-top: 60px;
  flex: 1;
}
h3 {
  text-align: center;
}
#search {
  flex-wrap: nowrap;
}
.checkLi {
  border: none !important;
}
.checkLi label {
  color: darkgreen;
}
.checkUl {
  border: 2.5px solid tomato;
  width: 1000px;
}
.adress {
  width: 150px;
  height: 30px;
  border: 2.5px solid #f5af19;
  color: darkgreen;
  background-color: white;
}
.priceBtn {
  border: 2.5px solid #f5af19;
  border-radius: 7px;
  color: darkgreen;
  background-color: white;
  margin-left: 10px;
}
.priceBtn:hover {
  background-color: darkgreen;
  color: white;
  border: none;
}
.priceBtn:active {
  position: relative;
  top: 2px;
}
